html, body{
    height: 100%;
    margin: 0;
    max-height: 100%;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
}

body{
    font-family: Raleway, sans-serif;
}

.close-button{
    bottom: 2px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0){
    .close-button{
        bottom: 3px;
    }
}